<div class="container">
	<div class="options">
		<div class="section-first">
			<%= button_to "Add Senior Advocate", new_senior_path, :id => "open-contacts-dialog-btn", :class => "btn btn-primary", :method => :get %>
			
		</div>
		<div class="section-second">
			<%= button_to "Add State For Advocate", new_state_path, :id => "open-contacts-dialog-btn", :class => "btn btn-primary mt-1", :method => :get %>
			<%= button_to "Add Case", new_case_path, :id => "open-contacts-dialog-btn", :class => "btn btn-primary mt-1", :method => :get %>
			<%= button_to "All Case", case_all_path, :id => "open-contacts-dialog-btn", :class => "btn btn-primary mt-1", :method => :get %>
		</div>
		<div class="section-third">
			<%= button_to "Add Junior Advocate", new_junior_path, :id => "open-contacts-dialog-btn", :class => "btn btn-primary", :method => :get %>
		</div>
	</div>

<!-- List of advocates -->
	<div class="container mt-1">
		<h3>List of advocates</h3>
		<table>
		  <tr>
		    <th>Advocate</th>              
		    <th>Practicing State </th>              

		  </tr>
		 <% @advocates.each do |advocate| %>
		  <tr>
		    <td><%= advocate.user_id%></td>         
		    <td><%= advocate.states.pluck(:name).uniq.join(',')%></td>         
		  </tr>
		  <% end %>
		 </table>
	</div>
</div>

